<div id="<%= dom_id member_dependent %>">
  <p>
    <strong>Last name:</strong>
    <%= member_dependent.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= member_dependent.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= member_dependent.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= member_dependent.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= member_dependent.birthdate %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= member_dependent.member_id %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= member_dependent.relationship %>
  </p>

</div>
