<div id="<%= dom_id officer %>">
  <p>
    <strong>Last name:</strong>
    <%= officer.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= officer.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= officer.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= officer.suffix %>
  </p>

  <p>
    <strong>Birth day:</strong>
    <%= officer.birth_day %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= officer.designation %>
  </p>

</div>
