
<%= simple_form_for(@health_dec_question) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :question_1 %>
    <%= f.input :question_2 %>
    <%= f.input :question_3 %>
    <%= f.input :question_3_desc %>
    <%= f.input :question_4 %>
    <%= f.input :question_4_desc %>
    <%= f.input :question_5_a %>
    <%= f.input :question_5_a_desc %>
    <%= f.input :question_5_b %>
    <%= f.input :question_5_b_desc %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", health_dec_questions_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
