<div id="<%= dom_id health_dec_question %>">
  <p>
    <strong>Question 1:</strong>
    <%= health_dec_question.question_1 %>
  </p>

  <p>
    <strong>Question 2:</strong>
    <%= health_dec_question.question_2 %>
  </p>

  <p>
    <strong>Question 3:</strong>
    <%= health_dec_question.question_3 %>
  </p>

  <p>
    <strong>Question 3 desc:</strong>
    <%= health_dec_question.question_3_desc %>
  </p>

  <p>
    <strong>Question 4:</strong>
    <%= health_dec_question.question_4 %>
  </p>

  <p>
    <strong>Question 4 desc:</strong>
    <%= health_dec_question.question_4_desc %>
  </p>

  <p>
    <strong>Question 5 a:</strong>
    <%= health_dec_question.question_5_a %>
  </p>

  <p>
    <strong>Question 5 a desc:</strong>
    <%= health_dec_question.question_5_a_desc %>
  </p>

  <p>
    <strong>Question 5 b:</strong>
    <%= health_dec_question.question_5_b %>
  </p>

  <p>
    <strong>Question 5 b desc:</strong>
    <%= health_dec_question.question_5_b_desc %>
  </p>

</div>
