<%= content_tag :h1, "List of Health Dec Questions" %>


<div class="text-end mb-3">
  <%= link_to new_health_dec_question_path, class: 'btn btn-primary' do %>
    New Health Dec Question
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Question 1</th>
        <th>Question 2</th>
        <th>Question 3</th>
        <th>Question 3 Desc</th>
        <th>Question 4</th>
        <th>Question 4 Desc</th>
        <th>Question 5 A</th>
        <th>Question 5 A Desc</th>
        <th>Question 5 B</th>
        <th>Question 5 B Desc</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @health_dec_questions.each do |health_dec_question| %>
        <tr>

        <td><%= health_dec_question.id %></td>
        <td><%= health_dec_question.question_1 %></td>
        <td><%= health_dec_question.question_2 %></td>
        <td><%= health_dec_question.question_3 %></td>
        <td><%= health_dec_question.question_3_desc %></td>
        <td><%= health_dec_question.question_4 %></td>
        <td><%= health_dec_question.question_4_desc %></td>
        <td><%= health_dec_question.question_5_a %></td>
        <td><%= health_dec_question.question_5_a_desc %></td>
        <td><%= health_dec_question.question_5_b %></td>
        <td><%= health_dec_question.question_5_b_desc %></td>
    
          <td>
            <%= link_to 'View', health_dec_question, class: 'btn' %>
            <%= link_to 'Edit', edit_health_dec_question_path(health_dec_question), class: 'btn' %>
            <%= link_to 'Delete', health_dec_question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
