
<%= simple_form_for(@process_remark) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs mb-3">
    <%#= f.association :reference %>
    <%#= f.association :reference, input_html: { value: params[:ref] } %>
    <%= f.input :reference_type, value: @process_coverage.class.name, as: :hidden %>
    <%= f.input :reference_id, value: @process_coverage.id, as: :hidden %>
    <%= f.input :remark %>
    <%= f.input :process_status, input_html: { value: @process_status }, as: :hidden%>
    <%#= f.input :user  %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", process_remarks_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
