<div id="<%= dom_id employee %>">
  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= employee.middle_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= employee.birthdate %>
  </p>

  <p>
    <strong>Employee number:</strong>
    <%= employee.employee_number %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= employee.mobile_number %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee.designation %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

</div>
