
<%= simple_form_for(@coop_member, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <% if current_user.userable_type == "Employee" %>
      <%= f.association :cooperative %>
      <%= f.association :coop_branch %>
    <% else %>
      <%= f.hidden_field :cooperative_id, value: @cooperative.id %>
      <%= f.association :coop_branch, collection: @cooperative.coop_branches %>
    <% end %>
    
    <div class="row">
    <%= f.input :last_name, wrapper_html: { class: "col-3" } %>
    <%= f.input :first_name, wrapper_html: { class: "col-3" } %>
    <%= f.input :middle_name, wrapper_html: { class: "col-3" } %>
    <%= f.input :suffix, wrapper_html: { class: "col-3" } %>
    </div>
    <%= f.input :birthdate %>
    <%= f.input :mobile_number %>
    <%= f.input :email %>
  </div>

  <template data-nested-form-target="template">
    <%= f.fields_for :coop_member_beneficiaries, CoopMemberBeneficiary.new, child_index: 'NEW_RECORD' do |beneficiary_fields| %>
      <%= render "coop_member_beneficiaries/nested_form", f: beneficiary_fields %>
    <% end %>
  </template>
  <%= f.fields_for :coop_member_beneficiaries do |beneficiary_fields| %>
    <%= render "coop_member_beneficiaries/nested_form", f: beneficiary_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add Beneficiary</button>

  <div class="form-actions text-end">
    <%= link_to "Back", coop_members_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
