<% if current_user.userable_type == "Employees" %>
  <%= content_tag :h1, "List of Cooperative Members" %>
<% else %>
  <%= content_tag :h1, "#{@cooperative.name} Members" %>
<% end %>

<div class="text-end">
  <%= link_to "New", new_coop_member_path, class: "btn btn-primary" %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Coop Branch</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Suffix</th>
        <th>Birthdate</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @coop_members.each do |coop_member| %>
        <tr>

        <td><%= coop_member.id %></td>
        <td><%= coop_member.coop_branch.name %></td>
        <td><%= coop_member.last_name %></td>
        <td><%= coop_member.first_name %></td>
        <td><%= coop_member.middle_name %></td>
        <td><%= coop_member.suffix %></td>
        <td><%= coop_member.birthdate.strftime('%B %d, %Y') %></td>
        <td><%= coop_member.mobile_number %></td>
        <td><%= coop_member.email %></td>
    
          <td>
            <%= link_to 'View', coop_member, class: 'btn' %>
            <%= link_to 'Edit', edit_coop_member_path(coop_member), class: 'btn' %>
            <%= link_to 'Delete', coop_member, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
