<div>
  <%= link_to "Edit member details", edit_coop_member_path(@coop_member), class: 'btn btn-primary' %> 
  <%= link_to "Back", coop_members_path, class: 'btn btn-primary' %>
  <%= link_to "Delete", @coop_member, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
</div>

<%= render @coop_member %>

<% if @beneficiaries.count < 5 %>
  <div class="mb-3">
    <%= link_to "Add beneficiary", new_coop_member_beneficiary_path(@coop_member), class: 'btn btn-primary' %>
  </div>
<% end %>




<% unless @beneficiaries.count === 0 %>
<%= content_tag :h3, "#{@beneficiaries.count > 1 ? 'Beneficiaries' : 'Beneficiary'}" %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Suffix</th>
        <th>Birthdate</th>
        <th>Relationship</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @beneficiaries.each do |beneficiary| %>
        <tr>

        <td><%= beneficiary.id %></td>
        <td><%= beneficiary.last_name %></td>
        <td><%= beneficiary.first_name %></td>
        <td><%= beneficiary.middle_name %></td>
        <td><%= beneficiary.suffix %></td>
        <td><%= beneficiary.birthdate.strftime('%B %d, %Y')%></td>
        <td><%= beneficiary.relationship %></td>
    
          <td>
            <%= link_to 'View', "#{@coop_member.id}/beneficiaries/#{beneficiary.id}", class: 'btn' %>
            <%= link_to 'Edit', "#{@coop_member.id}/beneficiaries/#{beneficiary.id}/edit", class: 'btn' %>
            <%= link_to 'Delete', "#{@coop_member.id}/beneficiaries/#{beneficiary.id}", method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>