<div id="<%= dom_id coop_branch %>">
  <p>
    <strong>Name:</strong>
    <%= coop_branch.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= coop_branch.region %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= coop_branch.province %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= coop_branch.municipality %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= coop_branch.barangay %>
  </p>

  <p>
    <strong>Contact details:</strong>
    <%= coop_branch.contact_details %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= coop_branch.cooperative_id %>
  </p>

</div>
