<%= content_tag :h1, "List of Group Remits" %>


<div class="text-end mb-3">
  <%= link_to new_group_remit_path, class: 'btn btn-primary' do %>
    New Group Remit
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Cooperative</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @group_remits.each do |group_remit| %>
        <tr>

        <td><%= group_remit.id %></td>
        <td><%= group_remit.name %></td>
        <td><%= group_remit.description %></td>
        <td>
          <%= group_remit.moa.proposal.cooperative.name %> <br>
          <%= content_tag :span, group_remit.moa.proposal.plan.short_name, class: "badge #{plan_bg(group_remit.moa.proposal.plan_id)}" %>
        </td>
    
          <td>
            <%= link_to 'View', group_remit, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_group_remit_path(group_remit), class: 'btn btn-success' %>
            <%= link_to 'Delete', group_remit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
