<div id="<%= dom_id coop_member_beneficiary %>">
  <p>
    <strong>Last name:</strong>
    <%= coop_member_beneficiary.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= coop_member_beneficiary.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= coop_member_beneficiary.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= coop_member_beneficiary.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= coop_member_beneficiary.birthdate %>
  </p>

  <p>
    <strong>Coop member:</strong>
    <%= coop_member_beneficiary.coop_member_id %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= coop_member_beneficiary.relationship %>
  </p>

</div>
