
<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <h3>Beneficiary:</h3>
  <button type="button" data-action="nested-form#remove">
    Remove beneficiary
  </button>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :suffix %>
    <%= f.input :birthdate %>
    <%= f.hidden_field :coop_member_id, value: @coop_member.id %>
    <%= f.input :relationship %>
  </div>

    
    <%= f.hidden_field :_destroy %>
</div>
