<%= content_tag :h1, "List of Coop Member Beneficiaries" %>


<div class="text-end mb-3">
  <%= link_to new_coop_member_beneficiary_path, class: 'btn btn-primary' do %>
    New Coop Member Beneficiary
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Suffix</th>
        <th>Birthdate</th>
        <th>Coop Member</th>
        <th>Relationship</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @coop_member_beneficiaries.each do |coop_member_beneficiary| %>
        <tr>

        <td><%= coop_member_beneficiary.id %></td>
        <td><%= coop_member_beneficiary.last_name %></td>
        <td><%= coop_member_beneficiary.first_name %></td>
        <td><%= coop_member_beneficiary.middle_name %></td>
        <td><%= coop_member_beneficiary.suffix %></td>
        <td><%= coop_member_beneficiary.birthdate %></td>
        <td><%= coop_member_beneficiary.coop_member %></td>
        <td><%= coop_member_beneficiary.relationship %></td>
    
          <td>
            <%= link_to 'View', coop_member_beneficiary, class: 'btn' %>
            <%= link_to 'Edit', edit_coop_member_beneficiary_path(coop_member_beneficiary), class: 'btn' %>
            <%= link_to 'Delete', coop_member_beneficiary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
