<div id="<%= dom_id batch_dependent %>">
  <p>
    <strong>Batch:</strong>
    <%= batch_dependent.batch_id %>
  </p>

  <p>
    <strong>Coop dependent:</strong>
    <%= batch_dependent.coop_dependent_id %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= batch_dependent.premium %>
  </p>

  <p>
    <strong>Agreement benefit:</strong>
    <%= batch_dependent.agreement_benefit_id %>
  </p>

</div>
