<%= content_tag :h1, "List of Agent Groups" %>


<div class="text-end mb-3">
  <%= link_to new_agent_group_path, class: 'btn btn-primary' do %>
    New Agent Group
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @agent_groups.each do |agent_group| %>
        <tr>

        <td><%= agent_group.id %></td>
        <td><%= agent_group.name %></td>
        <td><%= agent_group.description %></td>
    
          <td>
            <%= link_to 'View', agent_group, class: 'btn' %>
            <%= link_to 'Edit', edit_agent_group_path(agent_group), class: 'btn' %>
            <%= link_to 'Delete', agent_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
