<div id="<%= dom_id agent %>">
  <p>
    <strong>Last name:</strong>
    <%= agent.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= agent.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= agent.middle_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= agent.birthdate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= agent.mobile_number %>
  </p>

  <p>
    <strong>Agent group:</strong>
    <%= agent.agent_group_id %>
  </p>

</div>
