

<div class="p-5 mt-5 mb-4 bg-light rounded-3">
  <div class="row">
    <div class="col-md-7">
      <div class="container-fluid py5">
        <%= image_tag 'cis_logo.png', width: 300, class: 'mb-lg-0 me-2' %>
        <h1 class="display-6 fw-bold mb-3">Efficiency and Productivity</h1>
        <p class=" fs-4">A disconnect between various departments of an organization can lead to lower quality of performance. If one subsystem makes a change to their share of data. other subsystems may have to catch up by physically keying in the update data to their respective data stores. </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">Log in to your account</div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs mb-3">
              <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions mb-3">
              <%= f.button :submit, "Log in", class: "btn-primary", style: 'background-color: #007bff !important;
    border-color: #007bff !important;' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

