
<%= simple_form_for(@batch_remark) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :batch, as: :hidden %>
    <%= f.input :text %>
    <%#= f.association :user %>
    <%= f.input :batch_status, input_html: { value: @batch_status }, as: :hidden %>
    <%= f.input :process_coverage, input_html: { value: @process_coverage }, as: :hidden %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", batch_remarks_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
