
<%= simple_form_for(@moa) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :proposal %>
    <%= f.input :moa_no %>
    <%= f.input :notarized_date %>
    <%= f.input :moa_signed_date %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", moas_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
