<div id="<%= dom_id moa %>">
  <p>
    <strong>Proposal:</strong>
    <%= moa.proposal_id %>
  </p>

  <p>
    <strong>Moa no:</strong>
    <%= moa.moa_no %>
  </p>

  <p>
    <strong>Notarized date:</strong>
    <%= moa.notarized_date %>
  </p>

  <p>
    <strong>Moa signed date:</strong>
    <%= moa.moa_signed_date %>
  </p>

</div>
