<div id="<%= dom_id proposal %>">
  <p>
    <strong>Plan:</strong>
    <%= proposal.plan_id %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= proposal.cooperative_id %>
  </p>

  <p>
    <strong>Proposal no:</strong>
    <%= proposal.proposal_no %>
  </p>

  <p>
    <strong>New min age:</strong>
    <%= proposal.new_min_age %>
  </p>

  <p>
    <strong>New max age:</strong>
    <%= proposal.new_max_age %>
  </p>

  <p>
    <strong>Old min age:</strong>
    <%= proposal.old_min_age %>
  </p>

  <p>
    <strong>Old max age:</strong>
    <%= proposal.old_max_age %>
  </p>

  <p>
    <strong>Ave age:</strong>
    <%= proposal.ave_age %>
  </p>

  <p>
    <strong>Member count:</strong>
    <%= proposal.member_count %>
  </p>

  <p>
    <strong>Total premium:</strong>
    <%= proposal.total_premium %>
  </p>

  <p>
    <strong>Coop sf:</strong>
    <%= proposal.coop_sf %>
  </p>

  <p>
    <strong>Agent sf:</strong>
    <%= proposal.agent_sf %>
  </p>

  <p>
    <strong>Actuarial approval:</strong>
    <%= proposal.actuarial_approval %>
  </p>

  <p>
    <strong>Agent approval:</strong>
    <%= proposal.agent_approval %>
  </p>

</div>


<div class="premium-summary-block col-md-8">
  <div class="alert alert-secondary">
    <%= content_tag :p, "Base Premium", class: "col-6 mb-0" %>
    <%= content_tag :p,  %>
  </div>
</div>