<div id="<%= dom_id rate_table %>">
  <p>
    <strong>Proposal:</strong>
    <%= rate_table.proposal_id %>
  </p>

  <p>
    <strong>Gyrt rate:</strong>
    <%= rate_table.gyrt_rate_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= rate_table.count %>
  </p>

  <p>
    <strong>Qx:</strong>
    <%= rate_table.qx %>
  </p>

</div>
