<div id="<%= dom_id proposal_anniv %>">
  <p>
    <strong>Proposal:</strong>
    <%= proposal_anniv.proposal_id %>
  </p>

  <p>
    <strong>Anniv type:</strong>
    <%= proposal_anniv.anniv_type_id %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= proposal_anniv.month %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= proposal_anniv.day %>
  </p>

</div>
