<div class="card">
  <div class="card-header">
    Remarks
  </div>
  <div class="card-body">
   
    <%# if process_coverage.process_remarks.count <= 0 %>
    <% if process_remarks.count <= 0 %>
      <%= content_tag :td, "NO REMARKS", colspan: 2, class: "text-center" %>
    <% else %>
      <%# process_coverage.process_remarks.order(created_at: :desc).each do |rem| %>
      <% process_remarks.order(created_at: :desc).each do |rem| %>

        <%= content_tag :div, class: "d-flex justify-content-between align-items-center" do %>
          <%= content_tag :p, class: "mb-1" do %>
            <%= rem.user %> <%= content_tag :small, "- #{time_ago_in_words(rem.created_at)} ago" %>
          <% end %>
        <% end %>
        <%= content_tag :p, rem.remark, class: "small mb-0 fst-italic" %>

        <%= content_tag :hr %>
      <% end %>
      
    <% end %>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <%= link_to "Add Remarks", new_process_remark_path(ref: process_coverage), class: "btn btn-outline-primary mb-2 btn-sm", data: { turbo_frame: "remote_modal" } %>
      </div>
      <div class="col">
        <%== pagy_bootstrap_nav(@pagy_rem) if @pagy_rem.pages > 1 %>
      </div>
    </div>
  </div>
</div>