<div id="<%= dom_id process_coverage %>">
  <div class="row">
    <div class="col-6">
      <p>
        <strong>Group remit:</strong>
        <%= process_coverage.group_remit %>
      </p>

      <p>
        <strong>Plan references:</strong>
        <%= process_coverage.plan %>
      </p>

      <p>
        <strong>Agent:</strong>
        <%= process_coverage.agent %>
      </p>

      <p>
        <strong>Effectivity:</strong>
        <%= process_coverage.effectivity %>
      </p>

      <p>
        <strong>Expiry:</strong>
        <%= process_coverage.expiry %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= process_coverage.status %>
      </p> 
    </div>
    
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Remarks
        </div>
        <div class="card-body">
          <table class="table table-hover table-striped">
            <thead>
              <th>Remarks</th>
              <th>User</th>
            </thead>
            <tbody>
              <% process_coverage.process_remarks.each do |rem| %>
                <tr>
                  <td><%= rem.remark %></td>
                  <td><%= rem.user %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Add Remarks", new_process_remark_path(ref: process_coverage), class: "btn btn-primary mb-2", data: { turbo_frame: "remote_modal" } %>

  <div class="row mb-3">
    <div class="col-4">
      <div class="card text-white bg-secondary">
        <div class="card-header">
          Coverage Summary
        </div>
        <div class="card-body">
          <%= content_tag :p do %>
            <%= content_tag :strong, "No. of Covered: " %>
            <%= number_with_delimiter(process_coverage.group_remit.batches.count) %>
          <% end %>
          <%= content_tag :p do %>
            <%= content_tag :strong, "Total Coverages (Active): " %>
            <%# process_coverage.group_remit.moa.proposal. %>
            <%#= to_currency(process_coverage.group_remit.batches.where(active: true).sum(:premium)) %>
          <% end %>
          <%= content_tag :p do %>
            <%= content_tag :strong, "Total Premium (Active): " %>
            <%= to_currency(process_coverage.group_remit.batches.where(active: true).sum(:premium)) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-white bg-success">
        <div class="card-header">
          Approved Coverage
        </div>
        <div class="card-body">
          <%= content_tag :p do %>
            <%= content_tag :strong, "No. of Approved: " %>
            <%= number_with_delimiter(process_coverage.approved_count) %>
          <% end %>
          <%= content_tag :p do %>
            <%= content_tag :strong, "Total Approved Coverages: " %>
            <%# process_coverage.group_remit.moa.proposal. %>
            <%#= to_currency(process_coverage.group_remit.batches.where(active: true).sum(:premium)) %>
          <% end %>
          <%= content_tag :p do %>
            <%= content_tag :strong, "Total Approved Premium: " %>
            <%= to_currency(process_coverage.group_remit.batches.where(insurance_status: "Approved").sum(:premium)) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-white bg-danger">
        <div class="card-header">
          Denied Coverage
        </div>
        <div class="card-body">
          <%= content_tag :p do %>
            <%= content_tag :strong, "No. of Denied: " %>
            <%= number_with_delimiter(process_coverage.denied_count) %>
          <% end %>
          <%= content_tag :p do %>
            <%= content_tag :strong, "Total Denied Coverages: " %>
            <%# process_coverage.group_remit.moa.proposal. %>
            <%#= to_currency(process_coverage.group_remit.batches.where(active: true).sum(:premium)) %>
          <% end %>
          <%= content_tag :p do %>
            <%= content_tag :strong, "Total Denied Premium: " %>
            <%= to_currency(process_coverage.group_remit.batches.where(insurance_status: "Denied").sum(:premium)) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

  <table class="table">
    <thead>
      <th>Member</th>
      <th>Effective Date</th>
      <th>Expiry Date</th>
      <th>Status</th>
      <th>Active</th>
      <th>Premium</th>
      <th>Insurance Status</th>
      <th>Health Declaration</th>
      <th></th>
    </thead>
    <tbody>
      <%# group_remit.batches.each do |batch| %>
      <% @filtered_batches.each do |batch| %>
        <% mem_bday = batch.coop_member.member.birthdate %>
        <% effect = batch.effectivity_date %>
        <%# if mem_bday.nil? %>
        <%# mem_age = effect.year - mem_bday.year - ((effect.month > mem_bday.month || (effect.month == mem_bday.month && effect.day >= mem_bday.day)) ? 0 : 1)
end %>
        <tr>
          <td>
            <%= link_to batch.coop_member.member, batch, class: "link-primary" %> <br>
            <%= mem_bday %>
          </td>
          <td><%= effect %></td>
          <td><%= batch.expiry_date %></td>
          <td> <%= batch.status %> </td>
          <td><%= bootstrap_icon "#{batch.active? ? 'check-circle-fill' : 'exclamation-circle-fill'}", fill: "#{batch.active? ? 'green' : 'red'}" %></td>
          <td>
            <div class="row">
              <%= content_tag :span do %>
                <p>Premium: <b><%= to_currency(batch.premium) %></b> </p>
              <% end %>
            </div>
            <div class="row">
              <%= content_tag :span, class: "badge text-danger text-start" do %>
                <p>Agent's SF: <b><%= to_currency(batch.agent_sf_amount) %></b> </p>
              <% end %>
            </div>
            <div class="row">
              <%= content_tag :span, class: "badge text-danger text-start" do %>
                <p>Coop's SF: <b><%= to_currency(batch.coop_sf_amount) %></b> </p>
              <% end %>
            </div>
          </td>
          <td>
            <%= insurance_status(batch.insurance_status) %>
          </td>
          <td>
            <% if batch.batch_health_dec.nil? %>
              <%= content_tag :span, "No health declaration" %>
            <% else %>
              <%= content_tag :span, link_to("View", batch_health_dec_path(id: batch.batch_health_dec, for_modal: "yes"), data: { turbo_frame: "remote_modal" }) %>
            <% end %>
          </td>
          <td>
            <% if batch.active? %>
              <% unless batch.insurance_status != "Pending" %>
                <%= link_to approve_batch_process_coverage_path(batch: batch), title: "Approve", class: "btn btn-sm btn-success" do %>
                  <%= bootstrap_icon "check-lg" %>
                <% end %>
                <%= link_to deny_batch_process_coverage_path(batch: batch), title: "Deny", class: "btn btn-sm btn-danger" do %>
                  <%= bootstrap_icon "x-lg" %>
                <% end %>
                <%= link_to "#", title: "View Health Declaration", class: "btn btn-sm btn-secondary" do %>
                  <%= bootstrap_icon "eye-fill" %>
                <% end %>
              <% end %>
            <% end %>  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
