<%= content_tag :h1, "List of Process Coverages" %>


<div class="text-end mb-3">
  <%= link_to new_process_coverage_path, class: 'btn btn-primary' do %>
    New Process Coverage
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

      <th>ID</th>
        <th>Group Remit</th>
        <th>Plan</th>
        <th>Agent</th>
        <th>Effectivity</th>
        <th>Expiry</th>
        <th>Status</th>
        <th>Approved Count</th>
        <th>Approved Total Coverage</th>
        <th>Approved Total Prem</th>
        <th>Denied Count</th>
        <th>Denied Total Coverage</th>
        <th>Denied Total Prem</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @process_coverages.each do |process_coverage| %>
        <tr>

        <td><%= process_coverage.id %></td>
        <td><%= process_coverage.group_remit %></td>
        <td><%= process_coverage.plan %></td>
        <td><%= process_coverage.agent %></td>
        <td><%= process_coverage.effectivity %></td>
        <td><%= process_coverage.expiry %></td>
        <td><%= process_coverage.status %></td>
        <td><%= process_coverage.approved_count %></td>
        <td><%= process_coverage.approved_total_coverage %></td>
        <td><%= process_coverage.approved_total_prem %></td>
        <td><%= process_coverage.denied_count %></td>
        <td><%= process_coverage.denied_total_coverage %></td>
        <td><%= process_coverage.denied_total_prem %></td>
    
          <td>
            <%= link_to 'View', process_coverage, class: 'btn' %>
            <%= link_to 'Edit', edit_process_coverage_path(process_coverage), class: 'btn' %>
            <%= link_to 'Delete', process_coverage, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
