<div id="<%= dom_id coop_user %>">
  <p>
    <strong>Last name:</strong>
    <%= coop_user.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= coop_user.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= coop_user.middle_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= coop_user.birthdate %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= coop_user.mobile_number %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= coop_user.designation %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= coop_user.cooperative_id %>
  </p>

  <p>
    <strong>Coop branch:</strong>
    <%= coop_user.coop_branch_id %>
  </p>

</div>
