<div id="<%= dom_id batch %>">
  <p>
    <strong>Coop member:</strong>
    <%= batch.coop_member_id %>
  </p>

  <p>
    <strong>Group remit:</strong>
    <%= batch.group_remit_id %>
  </p>

  <p>
    <strong>Effectivity date:</strong>
    <%= batch.effectivity_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= batch.expiry_date %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= batch.active %>
  </p>

  <p>
    <strong>Coop sf amount:</strong>
    <%= batch.coop_sf_amount %>
  </p>

  <p>
    <strong>Agent sf amount:</strong>
    <%= batch.agent_sf_amount %>
  </p>

</div>
