<div id="<%= dom_id cooperative %>">
  <p>
    <strong>Name:</strong>
    <%= cooperative.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= cooperative.region %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= cooperative.province %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= cooperative.municipality %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= cooperative.barangay %>
  </p>

  <p>
    <strong>Contact details:</strong>
    <%= cooperative.contact_details %>
  </p>

</div>
