<div id="<%= dom_id contestability %>">
  <p>
    <strong>Min age:</strong>
    <%= contestability.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= contestability.max_age %>
  </p>

  <p>
    <strong>Member type:</strong>
    <%= contestability.member_type %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= contestability.period %>
  </p>

  <p>
    <strong>Period type:</strong>
    <%= contestability.period_type %>
  </p>

</div>
