
<%= simple_form_for(@contestability) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :min_age %>
    <%= f.input :max_age %>
    <%= f.input :member_type %>
    <%= f.input :period %>
    <%= f.input :period_type %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", contestabilities_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
