<div id="<%= dom_id coop_member_dependent %>">
  <p>
    <strong>Last name:</strong>
    <%= coop_member_dependent.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= coop_member_dependent.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= coop_member_dependent.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= coop_member_dependent.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= coop_member_dependent.birthdate %>
  </p>

  <p>
    <strong>Coop member:</strong>
    <%= coop_member_dependent.coop_member_id %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= coop_member_dependent.relationship %>
  </p>

</div>
