<div id="<%= dom_id proposal_insured_loading %>">
  <p>
    <strong>Proposal insured:</strong>
    <%= proposal_insured_loading.proposal_insured_id %>
  </p>

  <p>
    <strong>Gyrt loading:</strong>
    <%= proposal_insured_loading.gyrt_loading_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= proposal_insured_loading.name %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= proposal_insured_loading.rate %>
  </p>

</div>
