<div id="<%= dom_id member %>">
  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= member.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= member.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= member.birthdate %>
  </p>

  <p>
    <strong>Mobile no:</strong>
    <%= member.mobile_no %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= member.occupation %>
  </p>

</div>
